/*-------- ITEM REGISTAR --------*/
.itemRegistar {
  width: 900px;
  margin: 0 auto;
  padding: 60px 0;
}

.itemRegistar h2 {
  margin-bottom: 30px;
  border-bottom: solid 1px #dcdcdc;
  padding-bottom: 5px;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 20px auto;
}

.form-group label {
  margin-right: 50px;
}

.registerLabel {
  width: 20%;
}

.registerContents {
  width: 80%;
}

.btn_submit {
  margin: 0 0 0 auto;
  padding: 0 20px;
}

.registerContents select {
  height: 25px;
}

/*-------- ITEM INDEX --------*/
.adminItemIndex {
  width: 1240px;
  margin: 0 auto;
  padding: 50px 0;
}

.list-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.list-nav h3 {
  margin-bottom: 20px;
  display: inline-block;
}

.list-nav a {
  display: inline-block;
  text-align: right;
  background-color: #dcdcdc;
  padding: 3px 20px;
  border: solid 1px #a9a9a9;
  border-radius: 10px;
}
