@charset "UTF-8";

/*========= TOP PAGE ===========*/

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "\6E38\30B4\30B7\30C3\30AF", YuGothic, "\6E38\30B4\30B7\30C3\30AF\4F53", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2.0;
  background-color: #fff;
}

h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

ul,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0.6;
  text-decoration: none;
}

section {
  margin-bottom: 50px;
}

.content-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

header {
  width: 100%;
  background-color: #dcdcdc;
}

.header-nav {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-nav ul {
  margin-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-nav ul {
  margin-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-nav ul li {
  margin-right: 50px;
}

.left-nav ul li {
  margin-left: 50px;
}

.header-nav .logo {
  font-weight: 600;
  font-size: 160%;
}

.mainvisual {
  position: relative;
  height: 600%;
}

.mainvisual h4 {
  position: absolute;
  top: 33%;
  left: 37.5%;
  color: #fff;
  font-weight: 600;
  font-size: 1.7rem;
}

.mainvisual h1 {
  position: absolute;
  top: 41%;
  left: 38%;
  color: #fff;
  font-weight: 800;
  font-size: 6rem;
}

.mainvisual img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.top_button ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
  margin: 0 auto;
  position: absolute;
  top: 66%;
  left: 38%;
}

.top_button li a {
  display: inline-block;
  padding: 5px 25px;
  border: solid 2px #fff;
  border-radius: 10px;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}

.greeting {
  width: 100%;
}

.comment {
  text-align: center;
  margin-bottom: 30px;
}

.greeting ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.greeting li {
  width: 30%;
}

.greeting img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 13px;
  height: 260px;
}

.greeting h4 {
  margin-bottom: 5px;
}

.greeting ul li figure {
  margin: 0;
}

footer {
  height: 60px;
  width: 100%;
  background-color: #808080;
}

.footer_logo {
  color: #fff;
  opacity: 0.8;
  text-align: center;
  padding-top: 18px;
}

/*========= LIST PAGE ===========*/
.mainContents {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
}

.leftContents {
  width: 20%;
  display:block;
  border-right: solid 1px #dcdcdc;
  padding-left: 100px;
  padding-right:30px;
}

.rightContents {
  width: 80%;
  padding-left: 50px;
  padding-right:30px;
}

.itemSearch h5 {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 15px;
  border-bottom: solid 1px #dcdcdc;
}

.itemSearch .inputKeyWord input {
  width: 100%;
  height: 20px;
}

.rightContents .itemList h3 {
  margin-top: 50px;
  margin-bottom: 10px;
}
